{% load compress i18n %}
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xml:lang="{{ LANGUAGE_CODE }}"
      lang="{{ LANGUAGE_CODE }}">
<head>
	<title>{% block title %}{% trans "EzWeb Platform" %}{% endblock %}</title>

    {% block meta %}
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}images/favicon.ico" />
    {% endblock %}
        <!--[if lt IE 7]>
        <script src="http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE7.js" type="text/javascript"></script>
        <![endif]-->

    <!-- Base css -->
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ezweb_core.css"  />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/dragboard_core.css"  />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/wiring_core.css"  />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/catalogue_core.css"  />
    {% endcompress %}
    <!--[if IE]>
      <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ie_core.css" />
    <![endif]-->

    <!-- Theme css -->
    {% block css %}
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ezweb.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/dragboard.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/wiring.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/catalogue.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/catalogue_list.css" />

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/default_catalogue.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/default.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/icons.css" />
    {% endcompress %}
    <!--[if IE]>
      <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ie.css" />
    <![endif]-->
    {% endblock %}

    {% block js %}
    {% endblock %}

</head>

<body>
<h3>Navegador "{{ browser }}" no soporta el escritorio de aplicaciones, por favor acualice a una versión del navegador superior para poder usar el escritorio personalizado</h3>
</body>
</html>
